 @CHARSET "UTF-8";
#headTxt{
	margin-top: auto;
	margin-bottom: auto;
/* 	font: color="#FFFFFF"; */
	color: white;
}
#BanQuan{
	margin-left: auto;
	margin-right: auto;
	background-color: #909090;
	height: 50px;
	color: white;
} 